{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>KrushiVikas | Email Verification</title>
    <link rel="icon" href="{% static 'images/logokrushi.PNG' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-image: url({% static 'images/farm.JPG' %});">
    <section class="section__loginForm">
        <br>
        <p style="font-size: 40px; color: red; text-align: center;">{{msg}}</p>
        <div class="container">
            <form class="loginForm" method="POST" action="{% url 'ev' %}">
                {% csrf_token %}
                <div class="loginForm__group">
                    <img src="{% static 'images/logokrushi.PNG' %}" alt="">
                </div>
                <p>Welcome, an OTP has been sent to your registered Email ID, please enter the ID and code here to
                    proceed!</p>
                <div class="loginForm__group">
                    <label for="">Registered Email ID</label>
                    <input type="email" name="em" required>
                </div>
                <div class="loginForm__group">
                    <label for="">OTP</label>
                    <input type="text" name="op" required>
                </div>

                <div class="loginForm__group">
                    <button type="submit" class="loginBtn">Submit</button>
                    <a href="{% url 'usignup' %}" class="link1">New User? Sign Up</a>
                    <a href="{% url 'help' %}" class="link1">Help</a>
                </div>
            </form>
        </div>
        <div class="footer">
        </div>
    </section>
</body>

</html>