{% load static %}
<!DOCTYPE html>

<html>

<head>
    <title>KrushiVikas | Sign Up</title>
    <link rel="icon" href="{% static 'images/logokrushi.PNG' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-image: url({% static 'images/farm.JPG' %});">
    <section class="section__loginForm">
        <br>
        <p style="font-size: 40px; color: red; text-align: center;">{{msg}}</p>
        <div class="container">
            <form class="loginForm" method="POST" action="{% url 'usignup' %}">
                {% csrf_token %}
                <div class="loginForm__group">
                    <img src="{% static 'images/logokrushi.PNG' %}" alt="">
                </div>
                <div class="loginForm__group">
                    <label for="">Name</label>
                    <input type="text" name="un" required>
                </div>
                <div class="loginForm__group">
                    <label for="">Email</label>
                    <input type="text" name="em" required>
                </div>

                <div class="loginForm__group">
                    <label for="">Password</label>
                    <input type="password" name="pw1" required>
                </div>
                <div class="loginForm__group">
                    <label for="">Password Confirm</label>
                    <input type="password" name="pw2" required>
                </div>

                <div class="loginForm__group">
                    <button type="submit" class="loginBtn">Sign Up</button>
                    <a href="{% url 'ulogin' %}" class="link1">Already a User? Log In</a>
                    <a href="{% url 'index' %}" class="link1">Back</a>
                    <a href="{% url 'help' %}" class="link1">Help</a>
                </div>

            </form>
        </div>

        <div class="footer">
        </div>
    </section>
</body>

</html>